
.NomeReceita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .NomeReceita label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .NomeReceita input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .NomeReceita textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .NomeReceita button {
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }